.yolo1 {
  color: red;
}
.yolo2 {
  color: red;
}
.yolo3 {
  color: red;
}
.yolo4 {
  color: red;
}
.yolo5 {
  color: red;
}
.yolo6 {
  color: red;
}
.yolo7 {
  color: red;
}
.yolo8 {
  color: red;
}
.yolo9 {
  color: red;
}
.yolo10 {
  color: red;
}
