.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
.yolo{color:red;position:fixed;margin:1px;padding:1px;border:1px solid black;text-decoration:blink;}
