.yolo1 {
  color: red;
}
.yolo2 extends .yolo1 {
  color: red;
}
.yolo3 extends .yolo2 {
  color: red;
}
.yolo4 extends .yolo3 {
  color: red;
}
.yolo5 extends .yolo4 {
  color: red;
}
.yolo6 extends .yolo5 {
  color: red;
}
.yolo7 extends .yolo6 {
  color: red;
}
.yolo8 extends .yolo7 {
  color: red;
}
.yolo9 extends .yolo8 {
  color: red;
}
.yolo10 extends .yolo9 {
  color: red;
}
